<nav
  class="navbar navbar-expand-sm navbar-dark fixed-top bg-orange flex-md-nowrap p-0 shadow"
>
  <a class="navbar-brand" href="#top">
    <img
      src="../../../assets/InLine logo-transparent.png"
      height="45px"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="register-user" class="nav-link">Get Started</a>
    </li>
    <li class="nav-item">
      <a routerLink="sign-in" class="nav-link">Sign In</a>
    </li>
  </ul>
</nav>
<div id="top" class="full-page">
  <div id="top" class="cover-page">
    <p class="title1">Seating Simplified</p>
  </div>
  <div class="container-fluid">
    <div id="services" class="container-fluid text-center">
      <p class="description-header">
        In-Line is a light-weight, easy-to-use wait list managment system
        designed for restaurants and other businesses alike
      </p>
      <br />
      <div class="row slideanim">
        <div class="col-sm-4">
          <span class="fas fa-wifi logo-small"></span>
          <h4>WEB-BASED</h4>
          <p>
            Web-based application, making it accesible on just about any device
            with a network connection with absoloutley no downloads and startup
            costs neccesarry
          </p>
        </div>
        <div class="col-sm-4">
          <span class="fas fa-tachometer-alt logo-small"></span>
          <h4>TIME TRACKING</h4>
          <p>Live time tracking of each party in the waiting queue</p>
        </div>
        <div class="col-sm-4">
          <span class="fas fa-dumpster-fire logo-small"></span>
          <h4>RELIABILITY</h4>
          <p>
            Our Real-Time infastructure ensures the best possible performance
            under poor network connections
          </p>
        </div>
      </div>
      <br /><br />
      <div class="row slideanim">
        <div class="col-sm-4">
          <span class="fas fa-users logo-small"></span>
          <h4>CONCURRENT ACCESS</h4>
          <p class="detail">
            Have as many users access your queue simeltaneously from multiple
            devices
          </p>
        </div>
        <div class="col-sm-4">
          <span class="fab fa-google-plus-square logo-small"></span>
          <h4>SOCIAL INTEGRATION</h4>
          <p class="detail">
            Sign in with your existing company/personal accounts through
            providers such as Google and Facebook
          </p>
        </div>
        <div class="col-sm-4">
          <span class="fas fa-comment-alt logo-small"></span>
          <h4 style="color: #303030;">CUSTOM SMS</h4>
          <p class="detail">
            Notify your customers that they are ready to be served with a custom
            text message sent directly to their mobile device
          </p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="row text-center">
      <div class="col-md-4">
        <a
          routerLink="/terms_of_service"
          style="font-size: x-large; color: whitesmoke;"
        >
          Terms of Service
        </a>
      </div>
      <div class="col-md-4">
        <a
          routerLink="/privacy_policy"
          style="font-size: x-large; color: whitesmoke;"
        >
          Privacy Policy
        </a>
      </div>
      <div class="col-md-4">
        <a class="" href="#"
          ><img
            src="../../../assets/InLine logo-transparent.png"
            style="height: 45px;"
            alt="logo"
        /></a>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-8">
        <a
          style="
            font-size: smaller;
            color: whitesmoke;
            position: absolute;
            padding-bottom: 0;
          "
          href="https://www.freepik.com/free-photos-vectors/business"
          >Business vector created by freepik - www.freepik.com</a
        >
      </div>
    </div>
  </footer>
</div>
