<body style="background-image: url(../../../assets/100.jpg); height: 100%;">
  <div style="text-align: center; padding: 10%;">
    <div style="background-color: whitesmoke; padding: 20px;">
      <h2 style="margin-bottom: 40px;">Privacy Policy</h2>
      <h5>Information that is gathered from visitors</h5>
      <p>
        Cookies may be used to remember visitor preferences when interacting
        with the website. Where registration is required, the visitor's email
        and a username will be stored on the server.
      </p>
      <h5>How the Information is used</h5>
      <p>
        The information is used to enhance the vistor's experience when using
        the website to display personalised content. E-mail addresses will not
        be sold, rented or leased to 3rd parties. Visitor Options You may be
        able to block cookies via your browser settings but this may prevent you
        from access to certain features of the website.
      </p>

      <h5>Cookies</h5>
      <p>
        Cookies are small digital signature files that are stored by your web
        browser that allow your preferences to be recorded when visiting the
        website.
      </p>

      <div class="redirectToLogin">
        <span><span class="redirect" routerLink="/">Home</span></span>
      </div>
    </div>
  </div>
</body>
