<body style="background-image: url(../../../assets/100.jpg); height: 100%;">
  <div style="text-align: center; padding: 10%;">
    <div style="background-color: whitesmoke; padding: 20px;">
      <p>
        This site has been created for the sole purpose of recreational
        programming, and is not intended for commerical use as this time. In
        order to request commerical use of this site or similar services please
        reach out to www.linkedin.com/in/parsa-emami-500797177 via LinkedIn.
      </p>

      <div class="redirectToLogin">
        <span><span class="redirect" routerLink="/">Home</span></span>
      </div>
    </div>
  </div>
</body>
